:root {
    font-size: 15pt;
}

body {
    background-color: black;
    color: rgb(240, 240, 240);
    font-family: Garamond, serif;
}

.main {
    margin: auto;
    max-width: 50em;
}

.header {
    text-align: center;
}

.header > h1 {
    margin-bottom: 0;
}

.header > h2 {
    margin-top: 0.1em;
    margin-bottom: 2em;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.2em;
}

.sc {
    font-variant: small-caps;
}

.section > .title {
    color: rgb(220, 220, 220);
}

.section > .content {

}

.footer {
    margin-top: 2em;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 1em;
}

pre {
    margin: 1em;
    font-size: 0.9em;
}

a {
    color: aqua;
}

@media (min-resolution: 250dpi) {
    body {
        font-size: 160%;
    }
}

p {
    text-align: justify;
}
